@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.record_btn {
  padding: 8px 20px;
  background-color: #9DBA04;
  text-transform: uppercase;
  font-weight: 700;
}

.section_line {
  margin: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

::selection {
  background: #9DBA04;
  color: #fff;
}

::-moz-selection {
  background: #9DBA04;
  color: #fff;
}

::-webkit-selection {
  background: #9DBA04;
  color: #fff;
}

.header {
  background-image: url("../img/header/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.header_logo img {
  max-width: 180px;
}

.header_menu {
  width: 80%;
}
.header_menu ul {
  display: flex;
  list-style: none;
}
.header_menu li {
  margin: 0 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.header_menu li:first-child {
  margin: 0 20px 0 0;
}
.header_menu li:last-child {
  margin: 0 0 0 20px;
}
.header_menu li a:hover {
  color: #9DBA04;
}

.header_content {
  padding: 60px 0 153px;
  color: #ffffff;
}
.header_content h3 {
  font-size: 18px;
  line-height: 21px;
}
.header_content h3:first-child {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  background-color: #31353E;
}
.header_content h1 {
  font-family: "Roboto Slab", serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  margin: 0;
}
.header_content p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.header_content a {
  display: inline-block;
  font-size: 12px;
}

.mobile_btn {
  display: none;
}

.mobile_menu {
  display: none;
  visibility: hidden;
}

.about_us {
  display: flex;
  flex-wrap: wrap;
}

.abouts_us_item {
  width: calc(100% / 2);
}
.abouts_us_item img {
  width: 100%;
  height: 100%;
}

.about_us_spa {
  padding: 50px;
  text-align: center;
}
.about_us_spa h2 {
  font-size: 20px;
  font-weight: 700;
  color: #9DBA04;
}
.about_us_spa h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 25px 0;
}
.about_us_spa p {
  font-size: 14px;
  color: #999999;
  line-height: 1.6;
}
.about_us_spa a {
  display: inline-block;
  font-size: 12px;
  margin-top: 25px;
}

.about_us__wraper {
  position: relative;
  overflow: hidden;
}
.about_us__wraper .prev {
  position: absolute;
  top: 50%;
  font-size: 16px;
  padding: 20px;
  background-color: #ffffff;
  color: #999999;
  cursor: pointer;
  z-index: 3;
}
.about_us__wraper .next {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 16px;
  padding: 20px;
  background-color: #ffffff;
  color: #999999;
  cursor: pointer;
  z-index: 3;
}

.abouts_us_inner {
  display: flex;
  transition: all 0.5s;
}

.our_services_text {
  text-align: center;
  padding: 20px;
}
.our_services_text h4 {
  font-size: 12px;
  font-weight: 800;
  color: #9DBA04;
  letter-spacing: 1px;
  margin: 0;
}
.our_services_text h3 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin: 25px 0;
}

.line {
  width: 7%;
  height: 10px;
  margin: 0 auto;
  background-color: #9DBA04;
}

.our_services_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.our_services_item {
  width: calc(100% / 4);
}
.our_services_item img {
  display: block;
  width: 100%;
}
.our_services_item:hover .our_services_description {
  background-color: #9DBA04;
}

.our_services_description {
  padding: 45px;
  background-color: #31353E;
  color: #ffffff;
  text-align: center;
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.2);
}
.our_services_description h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.our_services_description p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  height: 160px;
}
.our_services_description a {
  font-size: 12px;
}

.gallery {
  padding: 30px 0;
}

.gallery_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery_item {
  display: flex;
  flex-direction: column;
}
.gallery_item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
.gallery_item:first-child {
  flex: 1;
}
.gallery_item:nth-child(2) {
  flex: 2;
  margin: 0 30px;
}
.gallery_item:last-child {
  flex: 1;
}

.gallery_item_1, .gallery_item_2, .gallery_item_3, .gallery_item_4, .gallery_item_5 {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.gallery_item_1 .gallery_item_1_h3, .gallery_item_2 .gallery_item_1_h3, .gallery_item_3 .gallery_item_1_h3, .gallery_item_4 .gallery_item_1_h3, .gallery_item_5 .gallery_item_1_h3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
}
.gallery_item_1 .gallery_item_1_h3 h3, .gallery_item_2 .gallery_item_1_h3 h3, .gallery_item_3 .gallery_item_1_h3 h3, .gallery_item_4 .gallery_item_1_h3 h3, .gallery_item_5 .gallery_item_1_h3 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1.4;
  color: #ffffff;
}
.gallery_item_1:hover img, .gallery_item_2:hover img, .gallery_item_3:hover img, .gallery_item_4:hover img, .gallery_item_5:hover img {
  transform: scale(1.1);
}
.gallery_item_1:hover .gallery_item_1_h3, .gallery_item_2:hover .gallery_item_1_h3, .gallery_item_3:hover .gallery_item_1_h3, .gallery_item_4:hover .gallery_item_1_h3, .gallery_item_5:hover .gallery_item_1_h3 {
  opacity: 1;
}

.gallery_item_2 {
  margin-top: 30px;
  overflow: hidden;
}
.gallery_item_2:hover img {
  transform: scale(1.1);
}

.gallery_item_3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery_item_3:hover img {
  transform: scale(1.1);
}

.gallery_item_4 {
  overflow: hidden;
}
.gallery_item_4:hover img {
  transform: scale(1.1);
}

.gallery_item_5 {
  margin-top: 30px;
  overflow: hidden;
}
.gallery_item_5:hover img {
  transform: scale(1.1);
}

.spa_video {
  margin: 30px 0 0;
  padding: 30px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.spa_video iframe {
  position: absolute;
  top: -20%;
  z-index: -2;
}

.spa_video_description {
  z-index: 2;
  max-width: 800px;
  padding: 120px 0;
  text-align: center;
}
.spa_video_description h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.spa_video_description p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7) !important;
}
.spa_video_description a {
  display: inline-block;
  margin-top: 20px;
  padding: 13px 26px;
  background-color: #9DBA04;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
}

.gift_certificate {
  background-image: linear-gradient(225deg, #3266a2, #98cfbf);
  background-repeat: repeat-x;
}

.gift_certificate_wrapper {
  padding: 40px 0;
  display: flex;
}
.gift_certificate_wrapper img {
  padding: 0 15px;
}

.gift_certificate_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
.gift_certificate_description h4 {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
.gift_certificate_description p {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.gift_certificate_btn {
  display: flex;
  align-items: center;
}
.gift_certificate_btn a {
  padding: 8px 20px;
  background-color: #18ba9b;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 0.3s;
}
.gift_certificate_btn a:hover {
  background-color: #22e3be;
}

@media (max-width: 1200px) {
  .container {
    max-width: 950px;
  }

  .header_menu li {
    font-size: 14px;
  }
  .header_menu li:first-child {
    margin: 0 20px 0 0;
  }
  .header_menu li:last-child {
    margin: 0 0 0 20px;
  }

  .header_content h1 {
    font-size: 55px;
    line-height: 63px;
  }
  .header_content h3 {
    font-size: 15px;
  }
  .header_content p {
    font-size: 16px;
  }

  .our_services_text h3 {
    font-size: 36px;
  }

  .line {
    width: 10%;
  }

  .our_services_item {
    width: calc(100% / 3);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header_nav.container {
    max-width: none;
  }

  .header_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 10%;
    transition: all 0.3s;
    z-index: 100000;
  }

  .header_content {
    padding: 120px 0 153px;
  }
  .header_content h1 {
    font-size: 42px;
    line-height: 55px;
  }
  .header_content p {
    font-size: 14px;
  }

  .header_nav.active {
    height: 75%;
  }

  .header_menu {
    display: none;
  }

  .mobile_btn {
    display: flex;
  }

  .mobile_btn {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
  }
  .mobile_btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .mobile_btn span:nth-child(2) {
    top: calc(50% - 7px);
  }
  .mobile_btn span:nth-child(3) {
    top: calc(50% + 7px);
  }

  .mobile_menu {
    position: relative;
    display: block;
    width: 72%;
    transition: transform 0.5s;
  }
  .mobile_menu ul {
    margin: 10px 0 0;
    padding: 0;
  }
  .mobile_menu ul li {
    padding: 5px 0;
  }
  .mobile_menu ul li a {
    font-size: 15px;
  }

  .mobile_menu.active {
    visibility: visible;
  }

  .mobile_btn.active span:first-of-type {
    transform: translateX(100%);
  }

  .mobile_btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .mobile_btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .about_us_spa {
    padding: 20px;
  }
  .about_us_spa h2 {
    font-size: 16px;
  }
  .about_us_spa h3 {
    margin: 20px 0;
    font-size: 18px;
  }
  .about_us_spa p {
    font-size: 13px;
  }
  .about_us_spa a {
    margin-top: 15px;
  }

  .our_services_text h3 {
    font-size: 30px;
  }

  .our_services_item {
    width: calc(100% / 2);
  }
  .our_services_item .our_services_description p {
    height: 120px;
  }

  .spa_video_description {
    padding: 60px 0;
  }

  .gift_certificate_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gift_certificate_description {
    margin: 30px 0 10px;
  }
  .gift_certificate_description h4 {
    text-align: center;
  }
  .gift_certificate_description p {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 390px;
  }

  .header_content {
    padding: 100px 0 153px;
  }
  .header_content h1 {
    font-size: 31px;
    line-height: 50px;
  }
  .header_content h3 {
    font-size: 12px;
  }
  .header_content p {
    font-size: 14px;
  }

  .abouts_us_item {
    width: 100%;
  }
  .abouts_us_item:first-child {
    order: 2;
  }
  .abouts_us_item:nth-child(2) {
    order: 1;
  }
  .abouts_us_item:nth-child(3) {
    order: 3;
  }
  .abouts_us_item:nth-child(4) {
    order: 4;
  }

  .about_us_spa h3 {
    font-size: 20px;
  }

  .our_services_text h3 {
    font-size: 28px;
  }

  .line {
    width: 20%;
  }

  .our_services_item {
    width: 100%;
  }
  .our_services_item .our_services_description p {
    height: 100px;
  }

  .gallery_wrapper {
    flex-direction: column;
  }

  .gallery_item_1, .gallery_item_2, .gallery_item_3, .gallery_item_4, .gallery_item_5 {
    margin-top: 15px;
  }

  .gallery_item_1 {
    margin: 0;
  }

  .gallery_item:nth-child(2) {
    margin: 0;
  }

  .gift_certificate_description h4 {
    font-size: 23px;
  }
  .gift_certificate_description p {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  .header_content h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .header_content p {
    font-size: 13px;
  }

  .about_us__wraper .prev {
    padding: 12px;
  }
  .about_us__wraper .next {
    padding: 12px;
  }

  .our_services_text h3 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
