.our_services_text {
    text-align: center;
    padding: 20px;

    h4 {
        font-size: 12px;
        font-weight: 800;
        color: $color2;
        letter-spacing: 1px;
        margin: 0;
    }

    h3 {
        display: inline-block;
        font-size: 40px;
        font-weight: 600;
        margin: 25px 0;
    }
}

.line {
    width: 7%;
    height: 10px;
    margin: 0 auto;
    background-color: $color2;
}

.our_services_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.our_services_item {
    width: calc(100% / 4);

    img {
        display: block;
        width: 100%;
    }
}

.our_services_description {
    padding: 45px;
    background-color: $bgcolor;
    color: $color1;
    text-align: center;
    box-shadow: inset 5px 0 10px rgb(0 0 0 / 20%);

    h3 {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: rgba(255,255,255,0.8);
        margin-bottom: 60px;
        height: 160px;
    }

    a {
        font-size: 12px;
    }
}