.spa_video {
    margin: 30px 0;
    padding: 30px 0;
    position: relative;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;

    iframe {
        position: absolute;
        top: -20%;
        z-index: -2;
    }
}

.spa_video_description {
    z-index: 2;
    max-width: 800px;
    padding: 120px 0;
    text-align: center;

    h3 {
        color: $color1;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: rgba(255,255,255,0.7) !important;
    }

    a {
        display: inline-block;
        margin-top: 20px;
        padding: 13px 26px;
        background-color: $color2;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
    }
}