.feedback_form {
    width: calc(100% / 2 - 7%);
    padding: 30px 31px;
    background-color: rgba(40, 45, 48, 1);
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 30%);


    h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        color: $color1;
        text-align: center;
        margin: 0;
    }

    p {
        font-size: 15px;
        line-height: 17px;
        color: rgba(255, 255, 255, .8);
        text-align: center;
        margin-bottom: 35px;
    }

    form {
        display: flex;
        flex-direction: column;

        hr {
            margin: 24px 0;
            border: 0;
            height: 1px;
            color: #111111;
            background-color: rgba(255, 255, 255, 0.09);
        }

        input {
            height: 52px;
            padding-left: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            border: 1px solid rgba(0,0,0,.1);
            background-color: rgba(255, 255, 255, 0.09);
            color: $color1;

            &:nth-child(2) {
                margin-bottom: 0;
            }
        }

        textarea {
            padding: 10px 0 0 10px;
            border: 1px solid rgba(0,0,0,.1);
            background-color: rgba(255, 255, 255, 0.09);
            color: $color1;
            resize: none;
        }

        .feedback_btn {
            margin-top: 30px;
            display: inline-block;
            height: 52px;
            color: $color1;
            box-shadow: -1px -1px 1px rgb(0 0 0 / 9%);
            background-color: rgba(15, 197, 210, 1);
            border-radius: 5px;
            outline: 0;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: rgba(15, 197, 210, 0.7);
            }
        }
    }
}