// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import '_mixins';

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: $color1;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.record_btn {
    padding: 8px 20px;
    background-color: $color2;
    text-transform: uppercase;
    font-weight: 700;
}

.section_line {
    margin: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}

$font-family: 'Open Sans', sans-serif;

::selection {background: $color2; color:#fff;}
::-moz-selection {background: $color2; color:#fff;}
::-webkit-selection {background: $color2; color:#fff;}

@import 'header';
@import 'contacts';
@import 'footer';
@import 'adaptive';
