@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.record_btn {
  padding: 8px 20px;
  background-color: #9DBA04;
  text-transform: uppercase;
  font-weight: 700;
}

.section_line {
  margin: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

::selection {
  background: #9DBA04;
  color: #fff;
}

::-moz-selection {
  background: #9DBA04;
  color: #fff;
}

::-webkit-selection {
  background: #9DBA04;
  color: #fff;
}

.header {
  background-image: url("../../img/main/header/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.header_logo img {
  max-width: 180px;
}

.header_menu {
  width: 80%;
}
.header_menu ul {
  display: flex;
  list-style: none;
}
.header_menu li {
  margin: 0 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.header_menu li:first-child {
  margin: 0 20px 0 0;
}
.header_menu li:last-child {
  margin: 0 0 0 20px;
}
.header_menu li a:hover {
  color: #9DBA04;
}

.header_content {
  padding: 60px 0 153px;
  color: #ffffff;
}
.header_content h3 {
  font-size: 18px;
  line-height: 21px;
}
.header_content h3:first-child {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  background-color: #31353E;
}
.header_content h1 {
  font-family: "Roboto Slab", serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  margin: 0;
}
.header_content p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.mobile_btn {
  display: none;
}

.mobile_menu {
  display: none;
  visibility: hidden;
}

.spa_photo {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.spa_photo img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
}

.spa_photo_item {
  width: calc(100% / 4 - 2%);
  position: relative;
  overflow: hidden;
}
.spa_photo_item:hover .spa_photo_h3 {
  opacity: 1;
}
.spa_photo_item:hover img {
  transform: scale(1.1);
}

.spa_photo_h3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
}
.spa_photo_h3 h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #ffffff;
}

.spa_video {
  margin: 30px 0 0;
  padding: 30px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.spa_video iframe {
  position: absolute;
  top: -20%;
  z-index: -2;
}

.spa_video_description {
  z-index: 2;
  max-width: 800px;
  padding: 120px 0;
  text-align: center;
}
.spa_video_description h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.spa_video_description p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7) !important;
}
.spa_video_description a {
  display: inline-block;
  margin-top: 20px;
  padding: 13px 26px;
  background-color: #9DBA04;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
}

.our_services {
  text-align: center;
  padding: 30px 0;
}
.our_services h5 {
  font-size: 22px;
  font-weight: 800;
  line-height: 31px;
  color: #9DBA04;
  margin: 0;
}
.our_services h4 {
  font-size: 33px;
  font-weight: 700;
  line-height: 43px;
  margin: 20px 0;
}
.our_services .line {
  width: 70px;
  height: 10px;
  background-color: #9DBA04;
  margin: 0 auto;
}

.our_services_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.our_services_descr {
  width: 46%;
  text-align: left;
}
.our_services_descr h6 {
  font-size: 26px;
  font-weight: 700;
  color: #18BA9B;
  margin: 0;
}
.our_services_descr p {
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

.our_services_img {
  width: 50%;
}
.our_services_img img {
  width: 100%;
}

.body_massage {
  background-color: #F7F7F7;
  padding: 30px 0;
}

.body_massage_title {
  text-align: center;
}
.body_massage_title h2 {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  padding-bottom: 8px;
  border-bottom: 5px solid #9DBA04;
}
.body_massage_title h3 {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #999999;
}

.body_massage_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body_massage_item {
  width: calc(100% / 3 - 3%);
}

.body_massage_img img {
  display: block;
  width: 100%;
}

.body_massage_descr {
  background-color: #1d1d1d !important;
  text-align: center;
  padding: 40px 0;
}
.body_massage_descr h5 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 0;
}
.body_massage_descr p {
  font-size: 12px;
  line-height: 20px;
  color: #777777;
  letter-spacing: 3px;
}
.body_massage_descr .body_massage_descr_padding {
  padding: 0 40px;
}
.body_massage_descr h4 {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 5px;
}
.body_massage_descr h6 {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: #222;
  padding: 10px 30px;
}
.body_massage_descr a {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid #FFFFFF;
  margin-top: 20px;
}

.specialists_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
}

.specialists_img {
  width: 41%;
}
.specialists_img img {
  width: 100%;
}
.specialists_img h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.specialist_descr {
  width: 56%;
}

.specialist_masseur {
  display: flex;
  border-bottom: 2px solid #9DBA04;
}
.specialist_masseur h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  color: #999999;
  margin-left: 15px;
}
.specialist_masseur i {
  font-size: 23px;
  color: #9DBA04;
  align-self: center;
}

.specialist_masseur_text p {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.footer {
  background-color: #111111;
}

.footer_inf {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer_inf h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.footer_inf p {
  color: #BBBBBB;
}
.footer_inf ul {
  padding-left: 0;
}
.footer_inf li {
  margin-bottom: 15px;
}
.footer_inf a {
  color: #BBBBBB;
  font-size: 14px;
}

.footer_contacts {
  width: 53%;
  padding: 0 15px;
}
.footer_contacts p {
  font-size: 14px;
  line-height: 22px;
}

.footer_contacts_item {
  display: flex;
}
.footer_contacts_item p {
  margin-left: 7px;
}
.footer_contacts_item i {
  font-size: 14px;
  color: #BBBBBB;
  display: flex;
  align-items: center;
}

.footer_spa {
  padding: 0 15px;
}

.footer_beauty {
  width: 18%;
  padding: 0 15px;
}

.footer_extra {
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 950px;
  }

  .header_menu li {
    font-size: 14px;
  }
  .header_menu li:first-child {
    margin: 0 20px 0 0;
  }
  .header_menu li:last-child {
    margin: 0 0 0 20px;
  }

  .header_content h1 {
    font-size: 55px;
    line-height: 63px;
  }
  .header_content h3 {
    font-size: 15px;
  }
  .header_content p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header_nav.container {
    max-width: none;
  }

  .header_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 10%;
    transition: all 0.3s;
    z-index: 100000;
  }

  .header_content {
    padding: 120px 0 153px;
  }
  .header_content h1 {
    font-size: 42px;
    line-height: 55px;
  }
  .header_content p {
    font-size: 14px;
  }

  .header_nav.active {
    height: 75%;
  }

  .header_menu {
    display: none;
  }

  .mobile_btn {
    display: flex;
  }

  .mobile_btn {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
  }
  .mobile_btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .mobile_btn span:nth-child(2) {
    top: calc(50% - 7px);
  }
  .mobile_btn span:nth-child(3) {
    top: calc(50% + 7px);
  }

  .mobile_menu {
    position: relative;
    display: block;
    width: 72%;
    transition: transform 0.5s;
  }
  .mobile_menu ul {
    margin: 10px 0 0;
    padding: 0;
  }
  .mobile_menu ul li {
    padding: 5px 0;
  }
  .mobile_menu ul li a {
    font-size: 15px;
  }

  .mobile_menu.active {
    visibility: visible;
  }

  .mobile_btn.active span:first-of-type {
    transform: translateX(100%);
  }

  .mobile_btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .mobile_btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .spa_video_description {
    padding: 60px 0;
  }

  .body_massage_item {
    width: calc(100% / 2 - 2%);
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 390px;
  }

  .header_content {
    padding: 100px 0 153px;
  }
  .header_content h1 {
    font-size: 31px;
    line-height: 50px;
  }
  .header_content h3 {
    font-size: 12px;
  }
  .header_content p {
    font-size: 14px;
  }

  .spa_photo_item {
    width: 100%;
  }
  .spa_photo_item:nth-child(2) {
    margin-top: 10px;
  }
  .spa_photo_item:nth-child(3) {
    margin-top: 10px;
  }
  .spa_photo_item:nth-child(4) {
    margin-top: 10px;
  }

  .our_services {
    padding: 30px 15px;
  }
  .our_services h5 {
    font-size: 20px;
  }
  .our_services h4 {
    font-size: 29px;
  }

  .our_services_descr {
    width: 100%;
  }

  .our_services_img {
    width: 100%;
  }

  .body_massage_item {
    width: 100%;
    margin-top: 20px;
  }

  .specialists_img {
    width: 100%;
  }

  .specialist_descr {
    width: 100%;
  }

  .footer_inf {
    flex-wrap: wrap;
  }

  .footer_contacts_item p {
    margin-left: 12px;
  }

  .footer_contacts {
    width: 100%;
  }

  .footer_spa {
    width: 100%;
  }

  .footer_beauty {
    width: 100%;
  }

  .footer_extra {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  .header_content h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .header_content p {
    font-size: 13px;
  }

  .our_services h4 {
    font-size: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
