@media(max-width: 1200px) {
    .container {
        max-width: 950px;
    }

    .header_menu {
        li {
            font-size: 14px;
            
            &:first-child {
                margin: 0 20px 0 0;
            }

            &:last-child {
                margin: 0 0 0 20px;
            }
        }
    }

    .header_content {
        h1 {
            font-size: 55px;
            line-height: 63px;
        }
        h3 {
            font-size: 15px;
        }
        
        p {
            font-size: 16px;
        }
    }

    .our_services_text {
        h3 {
            font-size: 36px;
        }
    }

    .line {
        width: 10%;
    }

    .our_services_item {
        width: calc(100% / 3);
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .header_nav.container {
        max-width: none;
    }

    .header_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: rgba(0,0,0,0.5) !important;
        height: 10%;
        transition: all 0.3s;
        z-index: 100000;
    }

    .header_content {
        padding: 120px 0 153px;
        
        h1 {
            font-size: 42px;
            line-height: 55px;
        }

        p {
            font-size: 14px;
        }
    }

    .header_nav.active {
        height: 75%;
    }

    .header_menu {
        display: none;
    }

    .mobile_btn {
        display: flex;
    }

    .mobile_btn {
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;

        span {
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color1;
            transition: all 0.5s;
            
            &:nth-child(2) {
                top: calc(50% - 7px);
            }

            &:nth-child(3) {
                top: calc(50% + 7px);
            }
        }
    }

    .mobile_menu {
        position: relative;
        display: block;
        width: 72%;
        transition: transform 0.5s;

        ul {
            margin: 10px 0 0;
            padding: 0;

            li {
                padding: 5px 0;
                
                a {
                    font-size: 15px;
                }
            }
        }
    }

    .mobile_menu.active {
        visibility: visible;
    }

    .mobile_btn.active span:first-of-type {
        transform: translateX(100%);
    }
    
    .mobile_btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .mobile_btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .about_us_spa {
        padding: 20px;

        h2 {
            font-size: 16px;
        }

        h3 {
            margin: 20px 0;
            font-size: 18px;
        }

        p {
            font-size: 13px;
        }

        a {
            margin-top: 15px;
        }
    }

    .our_services_text {
        h3 {
            font-size: 30px;
        }
    }

    .our_services_item {
        width: calc(100% / 2);

        .our_services_description {
            p {
                height: 120px;
            }
        }
    }

    .spa_video_description {
        padding: 60px 0;
    }

    .gift_certificate_wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gift_certificate_description {
        margin: 30px 0 10px;

        h4 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
    }

    .reviews {
        img {
            width: 50%
        }
    }

    .reviews_description {
        margin-left: 15px;

        h4 {
            margin: 0;
        }
    }

    .feedback_contacts {
        width: calc(100% / 2 - 6%);
    }

    .feedback_contacts_inf_item {
        width: 100%;
    }
    
    .feedback_border-left {
        border-left: none;
    }

    .feedback_border-bottom:nth-child(3) {
        border-bottom: solid 1px #EEEEEE;
    }
    .feedback_border-bottom:nth-child(4) {
        border-bottom: solid 1px #EEEEEE;
    }
}

@media(max-width: 425px) {
    .container {
        max-width: 390px;
    }

    .header_content {
        padding: 100px 0 153px;

        h1 {
            font-size: 31px;
            line-height: 50px;
        }

        h3 {
            font-size: 12px;
        }

        p {
            font-size: 14px;
        }
    }

    .abouts_us_item {
        width: 100%;

        &:first-child {
            order: 2;
        }

        &:nth-child(2) {
            order: 1;
        }

        &:nth-child(3) {
            order: 3;
        }

        &:nth-child(4) {
            order: 4;
        }
    }

    .about_us_spa {
        h3 {
            font-size: 20px;
        }
    }

    .our_services_text {
        h3 {
            font-size: 28px;
        }
    }

    .line {
        width: 20%;
    }

    .our_services_item {
        width: 100%;

        .our_services_description {
            p {
                height: 100px;
            }
        }
    }

    .gallery_wrapper {
        flex-direction: column;
    }

    .gallery_item_1, .gallery_item_2, .gallery_item_3, .gallery_item_4, .gallery_item_5 {
        margin-top: 15px;
    }

    .gallery_item_1 {
        margin: 0;
    }

    .gallery_item:nth-child(2) {
        margin: 0;
    }

    .gift_certificate_description {
        h4 {
            font-size: 23px;
        }

        p {
            font-size: 15px;
        }
    }

    .reviews {
        flex-wrap: wrap;
        
        img {
            width: 100%;
            order: 2;
        }
    }

    .reviews_description {
        order: 1;
    }


    .feedback_form {
        width: 100%;
    }

    .feedback_contacts {
        width: 100%;

        & > p {
            margin: 30px 0;
        }
    }

    .feedback_contacts_inf {
        margin-top: 20px;

    }

    .footer_inf {
        flex-wrap: wrap;
    }

    .footer_contacts_item {
        p {
            margin-left: 12px;
        }
    }

    .footer_contacts {
        width: 100%;
    }

    .footer_spa {
        width: 100%;
    }

    .footer_beauty {
        width: 100%;
    }

    .footer_extra {
        width: 100%;
    }
}

@media(max-width: 320px) {
    .container {
        max-width: 300px;
    }

    .header_content {
        h1 {
            font-size: 26px;
            line-height: 40px;
        }
        
        p {
            font-size: 13px;
        }
    }

    .about_us__wraper {
        .prev {
            padding: 12px;
        }

        .next {
            padding: 12px;
        }
    }

    .our_services_text {
        h3 {
            font-size: 25px;
        }
    }


    .feedback_form {
        padding: 30px 15px;

        h4 {
            font-size: 22px;
        }

        p {
            font-size: 14px;
        }
    }

}