.our_services {
    text-align: center;
    padding: 40px 0;
    
    h3 {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 1px;
        color: $color2;
        margin: 0;
    }

    h4 {
        font-size: 40px;
        font-weight: 600;
        line-height: 52px;
        margin: 20px 0;
    }

    .line {
        width: 60px;
        height: 10px;
        background-color: $color2;
        margin: 0 auto;
    }
}

.our_services_wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our_services_item {
    width: calc(100% / 3 - 3%);

    img {
        display: block;
        width: 100%;
        height: 242px;
    }

    &:nth-child(1n+4) {
        margin-top: 30px;
    }
}

.our_services_title {
    background-color: $color2;
    padding: 20px;

    h4 {
        font-size: 30px;
        font-weight: 700;
        line-height: 42px;
        color: $color1;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: rgba(255,255,255,0.6) !important;
    }
}

.our_services_descr {
    padding: 40px;
    background-color: #F7F7F7;

    h5 {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        color: $color2;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: #BBBBBB;

        span {
            font-weight: 700;
        }
    }

    a {
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        margin-top: 30px;
        padding: 8px 20px;
        background-color: $color2;
        border-radius: 20px;
    }
}